.main-content {
    width: 70%;
    height: 90vh;
    border: 2px solid red;
    margin: 3% auto;
}

body {
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.header {
    width: 90%;
    min-height: 100px;
    border: 2px solid red;
    margin: 3% auto;
}

.game-wrapper {
    width: 90%;
    min-height: 70vh;
    border: 2px solid red;
    margin: 0 auto;
}

